<footer>
    <a href="routeur.php"><img name="img-footer" src="../public/img/logo_cooking_time.png"></a>
    <ul name="ul-footer">
        <li name="li-ul-footer">Cooking Time <i class="far fa-copyright"></i> 2021-2022. Tous droits réservés.</li>
    </ul>
    <ul name="ul-menu-footer">
        <li name="li-ul-menu-footer"><a name="a-li-ul-menu-footer" href="?controller=ControllerInfo&&action=displayMentions">Mentions légales</a></li>
        <li name="li-ul-menu-footer"><a name="a-li-ul-menu-footer" href="?controller=ControllerInfo&&action=displayViePrivee">Vie privée</a></li>
        <li name="li-ul-menu-footer"><a name="a-li-ul-menu-footer" href="">Plan du site</a></li>
    </ul>
</footer>